html,body {
    margin: 0;
    padding: 0;
}

#content {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.code-editor-container {
    width: 100%;
}

.project-info-container {
    width: 100%;
    background: #ECECEC;
}